<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="methods">
	<listeners>
		<!--<listener class-name="yourlogo.Transformer"></listener>-->
		<listener class-name="commonuseractions.MailTestListener"></listener>
	</listeners>
	<test name="Phptravels">
		<classes>
			<class name="swaglab.Swaglab"></class>
			<!-- <class name="yourlogo.YourLogo"></class>
			<class name="phptravels.PhpTravelFlightBooking"></class>-->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->

